<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title%>
    </title>
    <!-- jquery ui css -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
    <div id="container">
        <div id="title">
            To-do App
        </div>
            <form action="add-task" method="post">
            <div id="description-container">
            <label for="des">Description</label><br>
            <input type="text" id="des" name="description" placeholder="What do you need to do?" required>
            </div>
            <div id="category-container" >
            <label for="category">Category</label><br>
            <select name="category" id="category" >
                <option selected>Choose a category</option>
                <option>Personal</option>
                <option>Office</option>
                <option>Home</option>
                <option>College</option>
                <option>Other</option>
            </select>
            </div>
            <div id="date-container">
            <label for="datepicker">Date </label><br>
            <input type="text" id="datepicker" name="deadline" placeholder="dd/mm/yr">
            </div>
            <div id="button-holder">
                <button type="submit" id="add"><a href=""><i class="fas fa-plus"></i> Add task</a></button>
                <button type="submit" id="delete"><a href=""><i class="fas fa-trash-alt"></i> Delete task(s)</a></button>
            </div>


            
        </form>

    </div>
    <!-- script for jquery ui -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/5b8969f8ab.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="./js/script.js"></script>
</body>
</html>